//Responsive
html {
    body {
        [data-tooltip] {
            position: relative;
            transition: all 300ms;
            &>span {
                &.tooltip-content {
                    transition: all 300ms;
                    opacity: 0;
                    position: absolute;
                    pointer-events: none;
                    left: 0%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: qtr-color(-6);
                    color: qtr-color(6);
                    font-size: qtr-font-size(-5);
                    font-weight: normal;
                    padding: 0.5rem 1rem;
                    line-height: initial;
                    border-radius: 3px;
                    z-index: 1000;
                    &:after {
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: -5px;
                        margin-top: -5px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 5px 5px 0;
                        border-color: transparent qtr-color(-6) transparent transparent;
                    }
                }
            }
            &:hover {
                &>span {
                    &.tooltip-content {
                        transform: translateY(-50%);
                        opacity: 1;
                        left: calc(100% + 20px);
                        box-shadow: 6px 7px 12px 0px rgba(0,0,0,0.3);
                    }
                }
            }
            &[data-tooltip-position="right"] {
                &>span {
                    &.tooltip-content {
                        // transform: translateX(50%) translateY(-50%);
                        left: initial;
                        right: 20%;
                    }
                }
                &:hover {
                    &>span {
                        &.tooltip-content {
                            left: initial;
                            right: 130%;
                            // transform: translateX(0%) translateY(-50%);
                            box-shadow: -6px 7px 12px 0px rgba(0,0,0,0.3);
                            &:after {
                                left: initial;
                                right: -5px;
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            &[data-tooltip-position="top"] {
                &>span {
                    &.tooltip-content {
                        transform: translateX(-50%) translateY(-100%);
                        left: 50%;
                        right: initial;
                        &:after {
                            top: calc(100% + 2px);
                            left: calc(50% - 2px);
                            transform: rotate(-90deg);
                        }
                    }
                }
                &:hover {
                    &>span {
                        &.tooltip-content {
                            top: -20px;
                            box-shadow: -0px 5px 20px 0px rgba(0,0,0,0.2);
                            &:after {

                            }
                        }
                    }
                }
            }
        }

    }
    &.touch {
        body {
            [data-tooltip] {
                &>span {
                    &.tooltip-content {
                        display: none;
                    }
                }
            }
            #wrapper {
                #container {
                    width: 100%;
                    height: 100vh;
                    top: 0px;
                    left: 0px;
                }
                @include qtr-screen(xs,sm){
                    #container {
                        top: 54px;
                        height: calc(100vh - 54px);
                    }
                }
            }
        }
    }
}
