
@font-face
{
    font-family: dosislight;
    src: url("https://cdn.forgejs.org/samples/vrrroom/fonts/Dosis-Light.ttf");
}

@font-face
{
    font-family: dosisbold;
    src: url("https://cdn.forgejs.org/samples/vrrroom/fonts/Dosis-Bold.ttf");
}