
@font-face
{
    font-family: dosislight;
    src: url("https://cdn.forgejs.org/samples/vrrroom/fonts/Dosis-Light.ttf");
}

@font-face
{
    font-family: dosisbold;
    src: url("https://cdn.forgejs.org/samples/vrrroom/fonts/Dosis-Bold.ttf");
}

/**
 * Gooey Menu
 */
.menu-i18n.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-i18n-white.png');
}
.menu-i18n.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-i18n-blue.png');
}

.menu-map.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-map-white.png');
}
.menu-map.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-map-blue.png');
}

.menu-rank.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-rank-white.png');
}
.menu-rank.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-rank-blue.png');
}

.menu-cinema.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-cinema-white.png');
}
.menu-cinema.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-cinema-blue.png');
}

.menu-heart.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-heart-white.png');
}
.menu-heart.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-heart-blue.png');
}

.menu-home.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-home-white.png');
}
.menu-home.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-home-blue.png');
}

.menu-music.menu-item-inactive
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-music-white.png');
}
.menu-music.menu-item-active
{
  background-image: url('https://cdn.forgejs.org/samples/vrrroom/assets/gooeymenu/menu-music-blue.png');
}